.card {
  width: fit-content;
  border: 1px solid #aeaeae;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  flex-basis: 100%;
}

.coverImage img {
  width: 100%;
  height: 275px;
}

.content {
  padding: 12px;
}

.location {
  margin-bottom: 28px;
}

.location i {
  color: crimson;
}

.detail {
  font-size: 13px;
}

.detail:last-child {
  text-align: right;
}

i {
  margin-right: 4px;
}

@media all and (min-width:480px) {
  .card {
    flex-basis: calc(50% - 16px);
  }

  .coverImage img {
    height: 250px;
  }
}

@media all and (min-width:992px) {
  .card {
    flex-basis: calc(32.75% - 16px);
  }
}

@media all and (min-width:1200px) {
  .card {
    flex-basis: calc(24.275% - 16px);
  }
}