@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {}

html {
  position: relative;
  cursor: default;
}

body {
  color: rgb(30, 30, 30);
  font-family: 'Poppins';
  font-size: 16px;
  overflow: auto;
}